# Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
	- оценка 2 и меньше - низкий рейтинг
	- оценка 4 и меньше - средний рейтинг
	- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [20]:
import pandas as pd

data_films = pd.read_csv('ratings_7.csv')

#data_films.head()
#data_films.groupby(['rating']). count().sort_values('rating').head(11)

In [21]:
def class_(row):
    if row['rating'] <= 2:
        return 'low'
    elif row['rating'] <= 4:
        return 'middle'
    return 'the_best'
    
data_films['class_'] = data_films.apply(class_, axis=1) 
data_films.head()
    
#data_films[data_films['rating'] == 4.5].head()

   userId  movieId  rating   timestamp  class_
0       1       31     2.5  1260759144  middle
1       1     1029     3.0  1260759179  middle
2       1     1061     3.0  1260759182  middle
3       1     1129     2.0  1260759185     low
4       1     1172     4.0  1260759205  middle

# Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [22]:
import pandas as pd
keywords = pd.read_csv('keywords.csv')

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

def search_region(row):
    for key, value in geo_data.items():
        if row['keyword'].lower() in value:
            return key
    return 'Undefined'
keywords['region'] = keywords.apply(search_region, axis=1)
keywords[keywords['region'] != 'Undefined'].head(50)

           keyword   shows          region
1259        москва  153050           Центр
5858   владивосток   43038  Дальний Восток
6075     ярославль   41720           Центр
8977      мурманск   29984    Северо-Запад
9084     хабаровск   29655  Дальний Восток
11222        псков   24885    Северо-Запад
11785         тула   23898           Центр
20823    петербург   14859    Северо-Запад
21445      сахалин   14494  Дальний Восток

# Задание 4
Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из материалов занятия. Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
	- для каждой строки пройдите по всем годам списка years
	- если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
	- если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year'

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга

In [23]:
import pandas as pd

data_rating = pd.read_csv('ratings_7.csv')

In [24]:
data_movie = pd.read_csv('movies_7.csv')

In [25]:
years_int = list(range(1950, 2011))

years = [str(item) for item in years_int]

In [26]:
def production_year(row):
    for year in years:
        if year in row['title']:
            return year
    return '1900' 
    
data_movie['production_year'] = data_movie.apply(production_year, axis = 1)
movie_rating = data_rating.merge(data_movie, on ='movieId', how = 'left')
movie_year_rating = movie_rating[movie_rating['production_year'] != '1900'].groupby('production_year').mean().sort_values('rating', ascending = False).head()
movie_year_rating[['rating']].head()

                   rating
production_year
1957             4.014241
1972             4.011136
1952             4.000000
1954             3.994220
1951             3.983539